version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: mydb
    ports:
      - "5433:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  server:
    build: ./server
    container_name: server
    ports:
      - "4000:4000"
    env_file:
      - ./server/.env
    depends_on:
      - postgres

  client:
    build: ./client
    container_name: client
    ports:
      - "3000:80"
    depends_on:
      - server

volumes:
  pg_data:
